@font-face {
  font-family: "Yekan";
  src: url( "../../fonts/W_YEKAN_0.TTF" );
  src: local( "?" ), url( "../../fonts/W_YEKAN_0.TTF" )format( "truetype" );
}
*:not('#show-date'){
  font-family:Yekan !important;
}

body{
  background-color: black !important;
}


/* sadegh */

.my_3_cols{
  background-color: #3E2723;
  padding: 50px 100px;
  border: 1px solid black;
  /* opacity: 0.8; */
  color: white;
  font-weight: bolder;
  transition: all 0.5s linear;
  cursor: pointer;
  
}
.my_3_cols:hover{
  opacity: 1;
  box-shadow: 10px 10px 50px #fff inset;
  
}

#exit{
  /* background-color: rgb(184, 62, 62) !important; */
  padding: 15px;
  border : 3px solid red;
  /* box-shadow: 5px 5px 5px white inset; */
  border-radius: 50px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-weight: bolder;
  font-family: Yekan;
}





/***************************************************************/
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: white; /* Black*/
    box-shadow: 5px 5px 5px 5px #E4c30c inset;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
